@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color:  rgb(7,123,138);
    color: aliceblue;
    font-family: "Muli", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    overflow: hidden;
}

h2 {
    margin: 10px 0 20px 0;
    text-align: center;
}

.container {
    color: rgb(50,46,47);
    background-color: rgb(236,193,156);
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    max-width: 100%;
}

.result-container {
    color: antiquewhite;
    background-color: rgb(50,46,47);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 12px 8px;
    height: 50px;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    font-size: 20px;
}

.btn {
    color: rgb(255, 255, 255);
    background-color: rgb(7,123,138);
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
}

.btn-large {
    display: block;
    padding: 12px 18px;
    width: 100%;
    border-radius: 30px;
}


.setting {
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.setting .number {
    font-size: medium;
    width: 50px;
}

.setting .checkbox {
    width: 20px;
    height: 20px;
}

#toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

.visible {
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeOut {
    from { 
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}